.Order
  &__list
    width: 800px
    @media screen and ( max-width: 800px )
      width: 100%

  &__container
    display: flex
    flex-direction: column
    max-width: 800px
    width: 100%

  &__selected
    display: flex
    flex-direction: column
    height: 300px
    background-color: rgba(255,255,255, 0.8)
    overflow-y: scroll
    position: relative
    border: 1px solid #fbaa03

  &__line
    background: linear-gradient( #fff 0%, #fbaa03 100%)
    border-bottom: 3px solid black
    cursor: pointer
    color: #000
    font-weight: 700
    font-size: 22px
    margin: 0
    @media screen and ( max-width: 480px )
      font-size: 16px
    &:hover
      background: #fff
      color: red

  &__price
    color: #fbaa03
    font-size: 34px
    background-color: #000
    border: 1px solid #fbaa03

  &__goToForm
    color: #fff
    font-size: 24px
    background-color: green
    border: 2px solid #fff
    // margin-bottom: 20px
    width: 296px
    margin: 0 auto 20px

  &__goToCheckout
    position: fixed
    padding: 5px 15px
    color: #fff
    background-color: #fbaa03
    border: 2px solid #ffffff
    top: 0
    right: 0
    font-size: 24px
    font-weight: 600
    cursor: pointer
    &:hover
      color: #fbaa03
      background-color: #fff
      border-color: #fbaa03

  &__checkout
    display: flex
    flex-direction: column
    max-width: 600px
    width: 100%
    margin: 0 auto
    label
      display: flex
      padding: 10px 20px
      justify-content: space-between
      @media screen and ( max-width: 420px )
        flex-direction: column
    &-input
      width: 70%
      @media screen and ( max-width: 420px )
        width: auto

  &__send
    padding: 5px 20px
    color: #fff
    background-color: green
    border: 2px solid #ffffff
    width: 100px
    margin: 20px auto 0
    cursor: pointer
    &:hover
      color: green
      background-color: #fff
      border-color: green